{% extends 'Main/base.html' %}

{% block content %}
<div style="margin-left: 40%; top: 200px; position: relative;">
<form action="" method="POST" style="background-color: rgba(0, 0, 0, 0);">
    {% csrf_token %}

    <h1>What did you do today?</h1>
    <input class="form-control" type="text" name="activity" id="activity" style="width: 240px;">
    <input type="hidden" name="type" value="add">
    <br>
    <input class="btn btn-info" type="submit" value="Add">

</form>

<h2>Today's Activities: </h2>

<div class="col-3">
    <ul class="list-group">
        {% for a in activities %}
            <div class="row">
                <li class="list-group-item" style="background-color: rgba(255, 255, 255, .5);">
                    <form action="" method="POST">
                        <h4>{{ a }}</h4> 
                        {% csrf_token %}
                        <div class="col-2"><input type="hidden" name="activity" value="{{ a }}"></div>
                        <div class="col-2"><input class="btn btn-danger" type="submit" value="Delete"></div>
                        <input type="hidden" name="type" value="delete">
                    </form>
                </li>
            </div>
        {% endfor %}
    </ul>
</div>

<br><br>

<a class="btn btn-info" href="/summary/">View Summary</a>

</div>


{% endblock %}