{% extends 'Main/base.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}

    <label for="activity">Add an activity: </label>
    <input type="text" name="activity" id="activity">
    <input type="hidden" name="type" value="add">

    <input type="submit" value="Submit">

</form>

<h2>Today's Activities: </h2>

<ul>
    {% for a in activities %}
        <li>
            {{ a }} 
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="activity" value="{{ a }}">
                <input type="hidden" name="type" value="delete">
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
</ul>


{% endblock %}