{% extends 'Main/base.html' %}

{% block content %}

<h1>How do you feel today?</h1>

<form action="" method="POST">
    {% csrf_token %}

    <button class="btn btn-success" type="submit" name="mood" value="2">Amazing</button>
    <button class="btn btn-info" type="submit" name="mood" value="1">Good</button>
    <button class="btn btn-secondary" type="submit" name="mood" value="0">Neutral</button>
    <button class="btn btn-warning" type="submit" name="mood" value="-1">Bad</button>
    <button class="btn btn-danger" type="submit" name="mood" value="-2">Terrible</button>

</form>

{% endblock %}