{% extends 'Main/base.html' %}

{% block content %}

<style>
    #main {
        margin-left: 100px;
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0);
    }

</style>

<div id="main" class="row">
    <div class="col">
        <h1 style="position: relative; left: 225px; top: 75px;">Mood Summary</h1>
        <div id="pie_chart"></div>
    </div>

    <div class="col">
        <h1 style="position: relative; top: 80px;">Activity Ranking</h1>
        <br>
        <h5 style="position: relative; right: 470px; top: -200px; transform: rotate(-90deg);">Happiest 5 Activities</h5>
        <h5 style="position: relative; right: 470px; top: 30px; transform: rotate(-90deg);">Unhappiest 5 Activities</h5>
        <div class="card" style="width: 18rem; background-color: rgba(0, 0, 0, 0);">
            <ul class="list-group">
                {% for item in best %}
                    <li class="list-group-item" style="background-color: lightgreen;">{{ item }}</li>
                {% endfor %}
                <br>
                <br>
                {% for item in worst %}
                    <li class="list-group-item" style="background-color: salmon;">{{ item }}</li>
                {% endfor %}
            </ul>
          </div>          
    </div>
</div>


<script>
    var data = [{
        values: {{ mood_counts }},
        labels: {{ mood_list | safe }},
        type: 'pie'
    }];

    var layout = {
        height: 600,
        width: 800,
        paper_bgcolor:'rgba(0,0,0,0)',
        plot_bgcolor:'rgba(0,0,0,0)',
    };

    Plotly.newPlot('pie_chart', data, layout);
</script>



{% endblock %}